requests==2.28.0
beautifulsoup4==4.11.1
tqdm==4.64.0
wikipedia==1.4.0
nltk==3.7
scikit-learn==1.1.1
pandas==1.4.2
matplotlib==3.5.2
numpy==1.23.1
torch==1.11.0
fiass-cpu==1.7.2
gensim==4.2.0
yellowbrick==1.4
networkx==2.8.4
transformers==4.19.4
djangorestframework==3.13.1
Django==4.0.6